<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav">
        <%- include('../partials/navigation') %>
        <%- include('../partials/masthead') %>
        <%- include('../partials/gigs') %>
        <%- include('../partials/contact') %>
        <%- include('../partials/footer') %>
        <%- include('../partials/scripts') %>
    </body>
</html>
