doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Career Tomboy

        // Favicon
        link(rel="apple-touch-icon" sizes="57x57" href="assets/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="assets/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="assets/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="assets/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="assets/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="assets/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="assets/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="assets/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
        link(rel="manifest" href="/manifest.json")
        meta(name="msapplication-TileColor" content="#314a8b")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#314a8b")

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Rokkitt:wght@700&display=swap' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top(data-bs-spy="scroll" and data-bs-target="#mainNav")

        // Navigation
        .p-3.position-fixed.top-0.start-50.translate-middle-x.z-3
            nav#mainNav.btn-group.bg-primary.bg-opacity-75
                //- a.btn.btn-primary-outline.text-light(href='#who') Who
                a.btn.btn-primary-outline.text-light(href='#gigs') Gigs
                //- a.btn.btn-primary-outline.text-light(href='#media') Media
                a.btn.btn-primary-outline.text-light(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.visually-hidden Career Tomboy
                        img(src="assets/img/logo.svg" aria-hidden)
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mt-5.mb-2 Just a little rock band in Chicago
                        a.btn.btn-primary.btn-xl(href='#who')
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
                            </svg>

        //- // who
        //- section#who.page-section.bg-who.bg-opacity-75
        //-     .container.px-4.px-lg-5
        //-         h2.text-white.mt-0.text-md-center Who is Career Tomboy?
        //-         hr.divider.divider-light.d-none.d-md-block
        //-         .row.gx-4.gx-lg-5.justify-content-center.align-items-center
        //-             img.img-fluid.mb-4.col-md-7(src='../assets/img/band.jpg' alt='Jeremy, Tori, Arlo, and Becky, the members of Career Tomboy, standing in front of a brick wall and behind a chainlink fence' style='object-fit: cover; mix-blend-mode: luminosity;')
        //-             .col-md-5
        //-                 p.text-white It’s not a midlife crisis. A crisis implies fear - a fear of not accomplishing what you want out of life. A fear that your best days are behind you.
        //-                 p.text-white F**k that noise.
        //-                 p.text-white Yes, we formed Career Tomboy later in life. But we didn’t form Career Tomboy because we were afraid. We formed Career Tomboy out of love.
        //-         hr.divider.divider-light.d-none.d-md-block
        //-         .text-md-center
        //-             p.text-white.mb-4 The love of listening to music.<br />The love of watching other bands perform with fellow fans.<br />The love of creating music with people we care about.<br />The love of doing something hard with people who push you to improve.
        //-             a.btn.btn-light.btn-xl(href='#gigs') See us live

        // gigs
        section#gigs.page-section.bg-warning.bg-opacity-75
            .container.px-4.px-lg-5.container-who
                h2.mt-0.mb-4.h1.text-md-center See us live!
                hr.divider.d-none.d-md-block
                if gigs && gigs.length > 0
                    each gig in gigs
                        - const gigDate = new Date(`${gig.date}T${gig.time}`)
                        - const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                        - const timeOptions = { hour: 'numeric', minute: '2-digit' }
                        .row.event.pt-2.rounded
                            h3.col-sm-12.h5
                                time(datetime=`${gig.date}T${gig.time}`) #{gigDate.toLocaleDateString('en-US', dateOptions)} • #{gigDate.toLocaleTimeString('en-US', timeOptions)}
                            .col-sm-8.col-md-9.col-lg-7
                                p.m-0 #{gig.venue} <br/> #{gig.address}
                                if gig.description
                                    p #{gig.description}
                            .col-sm-4.col-md-3.col-lg-5.text-sm-end.pb-2
                                if gig.mapUrl
                                    a.btn.btn-outline-primary(aria-label='View in Google Maps' href=gig.mapUrl target="_blank" title="Map")
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                        </svg>
                                        .d-none.d-lg-inline-block Map
                                if gig.ticketUrl
                                    a.btn.btn-outline-primary(aria-label='Tickets and Info' href=gig.ticketUrl target="_blank" title="Tickets and Info")
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-perforated-fill" viewBox="0 0 16 16">
                                            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4-1v1h1v-1zm1 3v-1H4v1zm7 0v-1h-1v1zm-1-2h1v-1h-1zm-6 3H4v1h1zm7 1v-1h-1v1zm-7 1H4v1h1zm7 1v-1h-1v1zm-8 1v1h1v-1zm7 1h1v-1h-1z"/>
                                        </svg>
                                        .d-none.d-lg-inline-block Tickets and Info
                else
                    .text-center
                        p No upcoming shows scheduled at this time.

        //- // media
        //- section#media.page-section.bg-primary.bg-opacity-75
        //-     .container-fluid.px-4.px-lg-5
        //-         h2.mt-0.mb-4.h1.text-md-center.text-light Photos and Video
        //-         hr.divider.divider-light.d-none.d-md-block
        //-         .text-light.text-md-center
        //-             <i>Coming soon</i>
        //-         //- .row.g-0
        //-         //-     .col-lg-4.col-sm-6

        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0.text-light Let's Get In Touch!
                        .text-centered
                            a.btn.btn-lg.text-light(href="mailto:jeremy@careertomboy.com" target="_blank")
                                <svg aria-hidden xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="32" height="32" viewBox="0 0 16 16"><path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/><path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/></svg>
                                span.visually-hidden Email
                            a.btn.btn-lg.text-light(href="https://www.youtube.com/@CareerTomboy" target="_blank")
                                <svg aria-hidden xmlns="http://www.w3.org/2000/svg" fill="currentColor"  width="32" height="32" viewBox="0 0 16 16"><path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/></svg>
                                span.visually-hidden YouTube
                            a.btn.btn-lg.text-light(href="https://www.youtube.com/@CareerTomboy" target="_blank")
                                <svg aria-hidden xmlns="http://www.w3.org/2000/svg" fill="currentColor"  width="32" height="32" viewBox="0 0 16 16"><path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/></svg>
                                span.visually-hidden Instagram
                        hr.divider.divider-light
                //- .row.gx-4.gx-lg-5.justify-content-center.mb-5
                //-     .col-lg-8
                //-         <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf031FkNQQSPE31FEgxX2LXUBBuJBxAihYVT2GAQ4YX-kaChg/viewform?embedded=true" width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0" class="bg-light rounded py-1">Loading…</iframe>

        // Footer
        footer.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2025 - Career Tomboy

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        //- // SimpleLightbox plugin JS
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')
