<!-- Gigs Section -->
<section id="gigs" class="page-section bg-warning bg-opacity-75">
    <div class="container px-4 px-lg-5 container-who">
        <h2 class="mt-0 mb-4 h1 text-md-center">See us live!</h2>
        <hr class="divider d-none d-md-block">
        <% if (gigs && gigs.length > 0) { %>
            <% gigs.forEach(function(gig) { %>
                <% const gigDate = new Date(`${gig.date}T${gig.time}`); %>
                <% const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                <% const timeOptions = { hour: 'numeric', minute: '2-digit' }; %>
                <div class="row event pt-2 rounded">
                    <h3 class="col-sm-12 h5">
                        <time datetime="<%= `${gig.date}T${gig.time}` %>">
                            <%= gigDate.toLocaleDateString('en-US', dateOptions) %> • <%= gigDate.toLocaleTimeString('en-US', timeOptions) %>
                        </time>
                    </h3>
                    <div class="col-sm-8 col-md-9 col-lg-7">
                        <p class="m-0"><%= gig.venue %><br><%= gig.address %></p>
                        <% if (gig.description) { %>
                            <p><%= gig.description %></p>
                        <% } %>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-5 text-sm-end pb-2">
                        <% if (gig.mapUrl) { %>
                            <a class="btn btn-outline-primary" aria-label="View in Google Maps" href="<%= gig.mapUrl %>" target="_blank" title="Map">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                </svg>
                                <div class="d-none d-lg-inline-block">Map</div>
                            </a>
                        <% } %>
                        <% if (gig.ticketUrl) { %>
                            &nbsp;
                            <a class="btn btn-outline-primary" aria-label="Tickets and Info" href="<%= gig.ticketUrl %>" target="_blank" title="Tickets and Info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-perforated-fill" viewBox="0 0 16 16">
                                    <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4-1v1h1v-1zm1 3v-1H4v1zm7 0v-1h-1v1zm-1-2h1v-1h-1zm-6 3H4v1h1zm7 1v-1h-1v1zm-7 1H4v1h1zm7 1v-1h-1v1zm-8 1v1h1v-1zm7 1h1v-1h-1z"/>
                                </svg>
                                <div class="d-none d-lg-inline-block">Tickets and Info</div>
                            </a>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="text-center">
                <p>No upcoming shows scheduled at this time.</p>
            </div>
        <% } %>
    </div>
</section>
